<!DOCTYPE html>
<html>
  <head>
    <title><%=typeof title == 'undefined' ? 'New Sails App' : title%></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap-datepicker3.css">
    <link rel="stylesheet" href="/styles/bootstrap-theme.css">
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/dashboard.css">
    <link rel="stylesheet" href="/styles/font-awesome.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/signin.css">
    <!--STYLES END-->
  </head>

  <body ng-app="App">
    
    <!--NAVBAR-->
    <%if (typeof isHideNavBar == 'undefined') { %>        

      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project name</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Dashboard</a></li>
              <li><a href="#">Settings</a></li>
              <li><a href="/signin">Profile</a></li>
              <li><a href="#">Help</a></li>
            </ul>
            <form class="navbar-form navbar-right">
              <input type="text" class="form-control" placeholder="Search...">
            </form>
          </div>
        </div>
      </nav>
      
    <% } %>
    <!--NAVBAR-END-->

    <div class="container-fluid">
      <div class="row">
        
        <%if (typeof isHideSideBar == 'undefined') { %>        

        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <%if (typeof menu !== 'undefined') { %>        
              <%if (menu == 'main') { %>
                <li class="active"><a href="/main">Overview<span class="sr-only">(current)</span></a></li>
              <% } else { %>
                <li><a href="/main">Overview</a></li>
              <% } %>
              
              <%if (menu == 'agents') { %>
                <li class="active"><a href="/agents">Представители<span class="sr-only">(current)</span></a></li>
              <% } else { %>
                <li><a href="/agents">Представители</a></li>
              <% } %>
  
              <%if (menu == 'nets') { %>
                <li class="active"><a href="/nets">Аптечные сети<span class="sr-only">(current)</span></a></li>
              <% } else { %>
                <li><a href="/nets">Аптечные сети</a></li>
              <% } %>
              
              <%if (menu == 'contracts') { %>
                <li class="active"><a href="/contracts">Контракты<span class="sr-only">(current)</span></a></li>
              <% } else { %>
                <li><a href="/contracts">Контракты</a></li>
              <% } %>
              
              <%if (menu == 'categories') { %>
                <li class="active"><a href="/categories">Категории аптеки<span class="sr-only">(current)</span></a></li>
              <% } else { %>
                <li><a href="/categories">Категории аптеки</a></li>
              <% } %>

              <%if (menu == 'places') { %>
                <li class="active"><a href="/places">Места расположения<span class="sr-only">(current)</span></a></li>
              <% } else { %>
                <li><a href="/places">Места расположения</a></li>
              <% } %>
              
              <%if (menu == 'positions') { %>
                <li class="active"><a href="/positions">Должности сотрудников<span class="sr-only">(current)</span></a></li>
              <% } else { %>
                <li><a href="/positions">Должности сотрудников</a></li>
              <% } %>
              
              <%if (menu == 'regions') { %>
                <li class="active"><a href="/regions">Районы городов<span class="sr-only">(current)</span></a></li>
              <% } else { %>
                <li><a href="/regions">Районы городов</a></li>
              <% } %>
              
              <%if (menu == 'subways') { %>
                <li class="active"><a href="/subways">Станции метро<span class="sr-only">(current)</span></a></li>
              <% } else { %>
                <li><a href="/subways">Станции метро</a></li>
              <% } %>  
              
              <%if (menu == 'listedhospitals') { %>
                <li class="active"><a href="/listedhospitals">Больницы для списка<span class="sr-only">(current)</span></a></li>
              <% } else { %>
                <li><a href="/listedhospitals">Больницы для списка</a></li>
              <% } %>
            <% } %>

          </ul>
          <ul class="nav nav-sidebar">
            <%if (typeof menu !== 'undefined') { %>        

              <%if (menu == 'drugbrands') { %>
                <li class="active"><a href="/drugbrands">Бренды препаратов<span class="sr-only">(current)</span></a></li>
              <% } else { %>
                <li><a href="/drugbrands">Бренды препаратов</a></li>
              <% } %>
              
              <%if (menu == 'drugskus') { %>
                <li class="active"><a href="/drugskus">SKU препаратов<span class="sr-only">(current)</span></a></li>
              <% } else { %>
                <li><a href="/drugskus">SKU препаратов</a></li>
              <% } %>
              
              <%if (menu == 'worktypes') { %>
                <li class="active"><a href="/worktypes">Виды работ на визите<span class="sr-only">(current)</span></a></li>
              <% } else { %>
                <li><a href="/worktypes">Виды работ на визите</a></li>
              <% } %>
              
              <%if (menu == 'promotions') { %>
                <li class="active"><a href="/promotions">Акции на визите<span class="sr-only">(current)</span></a></li>
              <% } else { %>
                <li><a href="/promotions">Акции на визите</a></li>
              <% } %>
              
              <%if (menu == 'messagetypes') { %>
                <li class="active"><a href="/messagetypes">Типы сообщений<span class="sr-only">(current)</span></a></li>
              <% } else { %>
                <li><a href="/messagetypes">Типы сообщений</a></li>
              <% } %>
              
              <%if (menu == 'phototypes') { %>
                <li class="active"><a href="/phototypes">Типы фотографий<span class="sr-only">(current)</span></a></li>
              <% } else { %>
                <li><a href="/phototypes">Типы фотографий</a></li>
              <% } %>
              
              <%if (menu == 'materials') { %>
                <li class="active"><a href="/materials">Матералы для показа<span class="sr-only">(current)</span></a></li>
              <% } else { %>
                <li><a href="/materials">Матералы для показа</a></li>
              <% } %>

            <% } %>
          </ul>
        </div>
        
      <% } %>

    <!--
        Body of Document
        ========================
    -->
    <%- body %>

      </div>
    </div>


    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    <script type="text/javascript" src="/jst.js"></script>
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->
    <script src="https://cdn.jsdelivr.net/lodash/4.15.0/lodash.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/bootstrap-datepicker.js"></script>
    <script src="/js/dependencies/bootstrap-datepicker.ru.min.js"></script>
    <script src="/js/angular/app.module.js"></script>
    <script src="/js/angular/factories/dataservice.js"></script>
    <script src="/js/angular/factories/lodash.js"></script>
    <script src="/js/angular/directives/datepicker.js"></script>
    <script src="/js/angular/directives/modal.js"></script>
    <script src="/js/angular/directives/pageWithTiles.js"></script>
    <script src="/js/angular/directives/popover.js"></script>
    <script src="/js/angular/controllers/AgentController.js"></script>
    <script src="/js/angular/controllers/DrugBrandController.js"></script>
    <script src="/js/angular/controllers/DrugSKUController.js"></script>
    <script src="/js/angular/controllers/ListedHospitalController.js"></script>
    <script src="/js/angular/controllers/MaterialController.js"></script>
    <script src="/js/angular/controllers/PositionController.js"></script>
    <script src="/js/angular/controllers/WorkTypeController.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
