<div class="form-group">
  <input class="form-control" ng-model="last.entity.lastName" ng-change="last.change()" type="text" placeholder="Фамилия">
</div>
<div class="form-group">
  <input class="form-control" ng-model="last.entity.firstName" ng-change="last.change()" type="text" placeholder="Имя">
</div>
<div class="form-group">
  <input class="form-control" ng-model="last.entity.middleName" ng-change="last.change()" type="text" placeholder="Отчество">
</div>
<div class="form-group">
  <label>Пол:</label>
  <div class="btn-toolbar" role="toolbar">
    <div class="btn-group">
      <button type="button" class="btn btn-default" ng-class="{ 'active' : last.entity.sex == 'Male' }" ng-click="last.entity.sex = 'Male'" aria-label="Мужчина">
        <i class="fa fa-male fa-2x" aria-hidden="true"></i>
      </button>
      <button type="button" class="btn btn-default" ng-class="{ 'active' : last.entity.sex == 'Female' }" ng-click="last.entity.sex = 'Female'" aria-label="Женщина">
        <i class="fa fa-female fa-2x" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>
<div class="form-group">
  <datepicker dp-modal-id="{{modalId}}" dp-element-id="{{modalId}}_hiredate" dp-model="last.entity.hireDate" dp-change="last.change()" dp-placeholder="Дата приема на работу"></datepicker>
</div>
<div class="form-group">
  <datepicker dp-modal-id="{{modalId}}" dp-element-id="{{modalId}}_birthdate" dp-model="last.entity.birthDate" dp-change="last.change()" dp-placeholder="Дата рождения"></datepicker>
</div>
<div class="form-group">
  <input class="form-control" ng-model="last.entity.postAddress" ng-change="last.change()" type="text" placeholder="Почтовый адрес">
</div>
<div class="form-group">
  <input class="form-control" ng-model="last.entity.phone" ng-change="last.change()" type="text" placeholder="Телефон">
</div>
<div class="form-group">
  <input class="form-control" ng-model="last.entity.email" ng-change="last.change()" type="email" placeholder="Электронная почта">
</div>
<div class="form-group">
  <input class="form-control" ng-model="last.entity.city" ng-change="last.change()" type="text" placeholder="Город работы">
</div>
<div class="form-group">
  <input class="form-control" ng-model="last.entity.area" ng-change="last.change()" type="text" placeholder="Округ работы">
</div>
<div class="form-group">
  <input class="form-control" ng-model="last.entity.manager" ng-change="last.change()" type="text" placeholder="ФИО менеджера">
</div>
<div class="form-group">
  <input class="form-control" ng-model="last.entity.status" ng-change="last.change()" type="text" placeholder="Статус">
</div>
<div class="form-group">
  <input class="form-control" ng-model="last.entity.hostURL" ng-change="last.change()" type="text" placeholder="Сервер обслуживания">
</div>
<div class="form-group">
  <input class="form-control" ng-model="last.entity.weeksInRout" ng-change="last.change()" type="number" min="0" max="5" placeholder="Количество недель в маршруте">
</div>
<div class="form-group">
  <label for="agentWorkmode">Режим работы:</label>
  <select class="form-control" name="agentWorkmode" id="agentWorkmode" ng-options="option.name for option in last.refs.workmodes track by option.id" ng-model="last.entity.workMode" ng-change="last.change()" ng-disabled="last.refs.workmodes.length == 0">
  </select>
</div>
<div class="form-group">
  <label for="agentMaterialType">Тип материалов:</label>
  <select class="form-control" name="agentMaterialType" id="agentMaterialType" ng-options="option.name for option in last.refs.materialtypes track by option.id" ng-model="last.entity.materialType" ng-change="last.change()" ng-disabled="last.refs.materialtypes.length == 0">
  </select>
</div>
<div class="form-group">
  <popover ng-if="!!last.entity.id" po-content="Пользователь: {{last.entity.user.username}} <br /> Пароль: {{last.entity.user.password}}" is-html="true" btn-class="btn-warning" btn-content="Учетные данные">
</popover>
</div>