<div class="form-group">
  <input class="form-control" ng-model="last.entity.name" ng-change="last.change()" type="text" placeholder="Имя файла">
</div>
<div class="form-group">
  <input class="form-control" ng-model="last.entity.fileName" ng-change="last.change()" type="text" placeholder="Полное имя файла">
</div>
<div class="form-group">
  <input class="form-control" ng-model="last.entity.s3Key" ng-change="last.change()" type="text" placeholder="Ключ файла на Amazon">
</div>
<div class="form-group">
  <input class="form-control" ng-model="last.entity.s3Bucket" ng-change="last.change()" type="text" placeholder="Корзина на Amazon">
</div>
<div class="form-group">
  <input class="form-control" ng-model="last.entity.s3Location" ng-change="last.change()" type="text" placeholder="Полный URL файла">
</div>
<!--<div class="form-group">-->
<!--  <input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)"/>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--  <input type="hidden" name="acl" value="public-read" />-->
<!--</div>-->
<!--<div class="form-group">-->
<!--  <input type="hidden" name="success_action_status" value="200" />-->
<!--</div>-->
<!--<div class="form-group">-->
<!--  <input type="hidden" name="x-amz-meta-uuid" value="14365123651274" />-->
<!--</div>-->
<!--<div class="form-group">-->
<!--  <input type="hidden" name="x-amz-server-side-encryption" value="AES256" /> -->
<!--</div>-->
<!--<div class="form-group">-->
<!--  <input type="hidden" name="Policy" value='eyAiZXhwaXJhdGlvbiI6ICIyMDE4LTA2LTAxVDEyOjAwOjAwLjAwMFoiLA0KICAiY29uZGl0aW9ucyI6IFsNCiAgICBbInN0YXJ0cy13aXRoIiwgIiRrZXkiLCAibWF0ZXJpYWxzLyJdLA0KICAgIHsiYnVja2V0IjogInNibC10ZXN0MSJ9LA0KICAgIHsiYWNsIjogInB1YmxpYy1yZWFkIn0sDQogICAgeyJzdWNjZXNzX2FjdGlvbl9zdGF0dXMiOiAiMjAwIn0sDQogICAgWyJzdGFydHMtd2l0aCIsICIkQ29udGVudC1UeXBlIiwgImFwcGxpY2F0aW9uL3BkZiJdLA0KICAgIHsieC1hbXotbWV0YS11dWlkIjogIjE0MzY1MTIzNjUxMjc0In0sDQogICAgeyJ4LWFtei1zZXJ2ZXItc2lkZS1lbmNyeXB0aW9uIjogIkFFUzI1NiJ9LA0KICAgIFsic3RhcnRzLXdpdGgiLCAiJHgtYW16LW1ldGEtdGFnIiwgIiJdLA0KDQogICAgeyJ4LWFtei1jcmVkZW50aWFsIjogIkFLSUFJSU9WRVpaNE80REsyNlBBLzIwMTcwNTMxL2V1LWNlbnRyYWwtMS9zMy9hd3M0X3JlcXVlc3QifSwNCiAgICB7IngtYW16LWFsZ29yaXRobSI6ICJBV1M0LUhNQUMtU0hBMjU2In0sDQogICAgeyJ4LWFtei1kYXRlIjogIjIwMTcwNTMxVDAwMDAwMFoiIH0NCiAgXQ0KfQ==' />-->
<!--</div>-->
<!--<div class="form-group">-->
<!--  <input type="hidden" name="X-Amz-Signature" value="642eec7cc808bc8982da5c040017e2f1770a3faa5757d3949369c20396c0ca50" />-->
<!--</div>-->